
## <summary>policy for masternoder2</summary>


########################################
## <summary>
##	Transition to masternoder2.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`masternoder2_domtrans',`
	gen_require(`
		type masternoder2_t, masternoder2_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, masternoder2_exec_t, masternoder2_t)
')


########################################
## <summary>
##	Execute masternoder2 server in the masternoder2 domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`masternoder2_initrc_domtrans',`
	gen_require(`
		type masternoder2_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, masternoder2_initrc_exec_t)
')


########################################
## <summary>
##	Search masternoder2 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`masternoder2_search_lib',`
	gen_require(`
		type masternoder2_var_lib_t;
	')

	allow $1 masternoder2_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read masternoder2 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`masternoder2_read_lib_files',`
	gen_require(`
		type masternoder2_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, masternoder2_var_lib_t, masternoder2_var_lib_t)
')

########################################
## <summary>
##	Manage masternoder2 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`masternoder2_manage_lib_files',`
	gen_require(`
		type masternoder2_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, masternoder2_var_lib_t, masternoder2_var_lib_t)
')

########################################
## <summary>
##	Manage masternoder2 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`masternoder2_manage_lib_dirs',`
	gen_require(`
		type masternoder2_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, masternoder2_var_lib_t, masternoder2_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a masternoder2 environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`masternoder2_admin',`
	gen_require(`
		type masternoder2_t;
		type masternoder2_initrc_exec_t;
		type masternoder2_var_lib_t;
	')

	allow $1 masternoder2_t:process { ptrace signal_perms };
	ps_process_pattern($1, masternoder2_t)

	masternoder2_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 masternoder2_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, masternoder2_var_lib_t)

')

